name: Shellcheck
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        scandir: './src'
